@use "base/variables";
@use "components/header";
@use "section/main";
@use "base/queries";
@use "components/footer";
@use "pages/clientes";
@use "pages/contactos";
@use "pages/index";
@use "pages/servicios";
@use "pages/trabajos\ realizados";