@use "../base/variables" as variable;
main {
    background-color: #fefef6;
    section div img {
    align-content: center;
        h1 {
            color: rgb(255, 255, 255);
            font-size: 6rem;
            font-family: "Bangers", system-ui;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    h1 h2 {
        font-family: variable.$font-family-secundario
    }
    ul li {
        font-family: variable.$font-family-primario;
    }
    tr {
        font-family: variable.$font-family-primario;
    }
}