body, html {
    margin: 0;
    padding: 0;
    width: 100%; 
}
main {
    width: 100%; 
    margin: 0 auto; 
    text-align: center; 
    padding: 0; 
        img {
        width: 100%; 
        height: auto; 
        display: block; 
    }
}