main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .grilla {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "portafolio1 portafolio2"
        "portafolio3 portafolio4"
        "portafolio5 portafolio5";
        gap: 25px;
        padding: 0 10px;
        justify-content: center;
            div {
                height: 200px;
                border: 1px solid #ddd;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
                transition: transform 0.3s ease;
                display: flex;
                &:hover {
                    transform: scale(1.03);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
        .caja1, .caja2, .caja3, .caja4, .caja5 {
            width: 100%;
            height: 200px;
        }
        .caja1 { grid-area: portafolio1; }
        .caja2 { grid-area: portafolio2; }
        .caja3 { grid-area: portafolio3; }
        .caja4 { grid-area: portafolio4; }
        .caja5 { grid-area: portafolio5; }
    }
}