@use "../base/variables" as v;
footer {
    background-color: v.$color-primario;
    text-align: center;
    padding: 20px;
    color: #333;
    font-family: v.$fuente-principal;
    align-items: self-end;
    h2 h3{
        margin-top: 15px;
        @media (min-width: v.$tablet) {
        }
    }

}