@use "../base/variables" as v; 
header {
    padding: 20px 40px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;              
    background-image: linear-gradient(to bottom, #afaf9b, #f7f0f0 );
    @media (min-width: v.$tablet) {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px; 
        gap: 0;           
    }
    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            gap: 20px; 
            list-style: none;
            padding: 0;
            margin: 0;
            @media (min-width: v.$tablet) {
                gap: 50px;
            }
            li { 
                a {
                    text-decoration: none;
                    color: black;
                    font-family: "Abel", sans-serif;
                    font-weight: bold;
                    &:hover{
                        color: v.$color-hover;
                    }
                }
            }
        }
    }
    .logo { 
        h1 {
            margin: 0;
            font-size: inherit;
            a {
                text-decoration: none;
                color: inherit;
                font-size: 24px;
                
                @media (min-width: v.$tablet) {
                    font-size: 30px; 
                }
                &:hover { color: v.$color-hover; }
            }
        }
    }
}