@use "../base/variables" as v; 
@use "../base/queries" as q;
header {
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: v.$color-primario;
    @media (min-width: q.$tablet) {
        flex-direction: row;
        justify-content: space-between;
    }
    .logo { 
        h1 { 
            a {
                font-family: v.$fuente-principal;
                text-decoration: none;
                color: inherit;
                font-size: 30px;
                &:hover { color: v.$color-hover; }
            }
        }
    }        
    nav { 
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            list-style: none;
            @media (min-width: q.$tablet) {
                gap: 50px;
            }
            li { 
                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    &:hover { color: v.$color-hover; }
                }
            }
        }
    }
}