footer {
    background-color: rgb(220, 220, 200);
    color: #333;
    text-align: center;
    padding: 20px;
    font-family: "Abel", sans-serif;
    align-items: self-end;
    h2 h3{
        margin-top: 15px; 
    }
}