* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
main {
    width: 100%; 
    margin: 0 auto; 
    text-align: center; 
    padding: 0; 
    img {
        width: 100%; 
        height: auto; 
        display: block;
    }
}

