@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@media (max-width:991px){
    header nav ul{
        display: flex;
        gap: 30px; 
    }
}

@media (max-width:576px){
    header nav ul{
        display: flex;
        gap: 5px;
    }
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }
    main tr {
        margin-left: 5px;
        margin-right: 5px;
        padding: 12px;
    }
}

@media (max-width: 768px) {
    .grilla {
        gap: 15px;
    }
    .grilla > div {
        flex: 0 1 45%; 
        height: 150px; 
    }
}
