@use "../base/variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    background-color: v.$color-fondo;
    font-family: v.$fuente-principal;
    color: v.$color-texto;
    overflow-x: hidden;
}