$color-primario: #dcdcc8; 
$color-fondo: #fefef6;
$color-texto: #333;
$color-borde: #ccc;
$color-hover: rgb(89, 99, 109);
$fuente-titulos: "Bangers", system-ui;
$fuente-principal: "Abel", sans-serif;
$tablet: 768px;
$mobile: 480px;