$color-primario: rgb(220, 220, 200); 
$color-fondo: #fefef6;
$color-texto: #333;
$color-borde: #ccc;
$color-hover: rgb(89, 99, 109);
$fuente-titulos: "Bangers", system-ui;
$fuente-principal: "Abel", sans-serif;